/**
 * Colours css file.
 * @see: http://code.google.com/docreader/#p=google-web-toolkit-incubator&s=google-web-toolkit-incubator&t=CssResource
 */ /**
 * colours 
 */
@def smooth #DDD ;

@def lightGreyed #EEEEEE ;
@def greyed #777777 ;
@def dark #444444 ;
@def lightBlued #92C1F0 ;
@def blued #E8EEF7 ;

@def defaultBg white ;
@def headerPaddingRight 18px;
@def headerPaddingLeft 50px;

/**
 * Sizes
 */ 
 
 @def genericContainerPaddingPx  5px ;
 @def scrollOffSetPx 16px;

/**
 * General classes.
 */
.genericContainer {
	background: lightBlued;
    border-collapse:collapse;
    text-align:center;
}
.genericHeaderContainer{
   background: lightBlued;
   padding: genericContainerPaddingPx   headerPaddingRight  genericContainerPaddingPx headerPaddingLeft;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/** 
 * Lasso widgets 
 */
.lassoPanel, .lassoElement {
	cursor: default;
	background: transparent;
	opacity: 0.5;
	background: red;
	/*fuck ie*/
	/*filter: alpha(opacity = 50);*/
}