/**
 * Day and Week css file. Holds css styles that are applied
 * throughout all the app's day and week views.
 * @see: http://code.google.com/docreader/#p=google-web-toolkit-incubator&s=google-web-toolkit-incubator&t=CssResource
 */

@def smallBorderPx 1px;
@def smallPaddingPx 4px; /*should be expression smallBorderPx+mediumBorderPx*/
@def mediumBorderPx 3px;
@def titleColumnWidthPx 50px;


/**
 * Day and week classes.
 */
.titleColumn {
  background-color: lightBlued;
}
 
.column, .titleColumn {
  float: left;
  display: inline;
  background: defaultBg;
}

/** title */
.titleColumn  {
  text-align: right;
}
.evenTitleCell, .oddTitleCell {
  background-color: lightBlued;
  padding-left: smallPaddingPx;
  text-align: center;
}
.evenTitleCell {
  border-top: smallBorderPx solid lightBlued;
}
.oddTitleCell {
  border-top: smallBorderPx solid lightBlued;
}

/** regular cells */
.evenCell, .oddCell {
  border-right: mediumBorderPx double smooth;
  padding-left: smallPaddingPx;
}
.evenCell {
  border-top: smallBorderPx solid smooth;
}
.oddCell {
  border-top: smallBorderPx dotted smooth;
}

/** grid fill stuff */
.horizontalFillGrid {
  border-collapse: collapse;
}
.horizontalFillGrid tbody tr td {
  padding: 0px;
}

.headerCell{
    overflow:hidden;
    width:60px;
}
.headerEnd{
  background-color: lightBlued;  
}
