/**
 * Months css file. Holds css styles that are applied
 * throughout all the app's months.
 * @see: http://code.google.com/docreader/#p=google-web-toolkit-incubator&s=google-web-toolkit-incubator&t=CssResource
 */

@def fontSize 11px;
@def lineHeight 20px;
@def monthCellPadTopPx 1px;
@def monthCellBorderLeftPx 1px;
@def monthCellTitleBorderTopPx 1px;

/**
 * colours 
 */
@def blued #C3D9FF;
@def lightBlued #E8EEF7;
@def lightGreyed #EEEEEE;
@def greyed #777777;
@def dark #444444;

/**
 * Month classes
 */

.monthRow {
  left: 0;
  overflow: hidden;
  width: 100%;
  
  font-size: fontSize;
  line-height: lineHeight;
}

.monthRowTable {
  width: 100%;
  table-layout: fixed;
}

.monthCell {
  padding: monthCellPadTopPx 1px 0 2px;
  border-left: monthCellBorderLeftPx solid blued;
}

.monthCellTitle, .monthCellTitleNoMonth {
  border-top: monthCellTitleBorderTopPx solid blued;
  text-align: right;
  padding-right: 2px;
  overflow: hidden;
}

.monthCellTitle {
  background-color: lightBlued;
  color: darked;
}

.monthCellTitleNoMonth {
  background-color: lightGreyed;
  color: greyed;
}
