/**
 * All css that does not need to be readed in code or is not related to 
 * structural defs goes in this file.
 */ 
 
/**
 * Body css. We'll reset the defs.
 */
body {
	color: black;
	margin: 0;
	border: 0;
	padding: 0;
	background: #fff;
	direction: ltr;
	font-family: Calibri, sans-serif;
}

/** 
 * Lasso widgets 
 */
.lasso {
	cursor: default;
	background: transparent;
	opacity: 0.5;
	filter: alpha(opacity = 50);
}

.lasso-element {
	background: red;
	border: 1px solid red;
}

/** 
 * Misc 
 */
.fixed {
	table-layout: fixed;
}

/**
 * TabBar styles.
 */
.gwt-DecoratedTabBar {
	
}

.gwt-DecoratedTabBar .gwt-TabBarFirst {
	width: 5px; /* first tab distance from the left */
}

.gwt-DecoratedTabBar .gwt-TabBarRest {
	
}

.gwt-DecoratedTabBar .gwt-TabBarItem {
	border-collapse: collapse;
	margin-left: 6px;
}

.gwt-DecoratedTabBar .tabTopCenter {
	padding: 0px;
	background: #d0e4f6;
}

.gwt-DecoratedTabBar .tabTopLeft,.gwt-DecoratedTabBar .tabTopRight {
	padding: 0px;
	zoom: 1;
}

.gwt-DecoratedTabBar .tabTopLeftInner,.gwt-DecoratedTabBar .tabTopRightInner
	{
	width: 6px;
	height: 6px;
}

.gwt-DecoratedTabBar .tabTopLeft {
	background: url(images/corner.png) no-repeat 0px -55px;
	-background: url(images/corner_ie6.png) no-repeat 0px -55px;
}

.gwt-DecoratedTabBar .tabTopRight {
	background: url(images/corner.png) no-repeat -6px -55px;
	-background: url(images/corner_ie6.png) no-repeat -6px -55px;
}

* html .gwt-DecoratedTabBar .tabTopLeftInner,* html .gwt-DecoratedTabBar .tabTopRightInner
	{
	width: 6px;
	height: 6px;
	overflow: hidden;
}

.gwt-DecoratedTabBar .tabMiddleLeft,.gwt-DecoratedTabBar .tabMiddleRight
	{
	width: 6px;
	padding: 0px;
	background: #d0e4f6;
}

.gwt-DecoratedTabBar .tabMiddleLeftInner,.gwt-DecoratedTabBar .tabMiddleRightInner
	{
	width: 1px;
	height: 1px;
}

.gwt-DecoratedTabBar .tabMiddleCenter {
	padding: 0px 4px 2px 4px;
	cursor: pointer;
	cursor: hand;
	color: black;
	font-weight: bold;
	text-align: center;
	background: #d0e4f6;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopCenter {
	background: #92c1f0;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopLeft {
	background-position: 0px -61px;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabTopRight {
	background-position: -6px -61px;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleLeft,.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleRight
	{
	background: #92c1f0;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-selected .tabMiddleCenter {
	cursor: default;
	background: #92c1f0;
}

.gwt-DecoratedTabBar .gwt-TabBarItem-disabled .tabMiddleCenter {
	cursor: default;
	color: #999999;
}

/**
 * Decorator panel (round corners)
 */
.gwt-DecoratorPanel {
	
}

.gwt-DecoratorPanel .topCenter,.gwt-DecoratorPanel .bottomCenter {
	background: url(images/hborder.png) repeat-x;
}

.gwt-DecoratorPanel .middleLeft,.gwt-DecoratorPanel .middleRight {
	background: url(images/vborder.png) repeat-y;
}

.gwt-DecoratorPanel .topLeftInner,.gwt-DecoratorPanel .topRightInner,.gwt-DecoratorPanel .bottomLeftInner,.gwt-DecoratorPanel .bottomRightInner
	{
	width: 5px;
	height: 5px;
	zoom: 1;
}

.gwt-DecoratorPanel .topLeft {
	background: url(images/corner.png) no-repeat 0px 0px;
	-background: url(images/corner_ie6.png) no-repeat 0px 0px;
}

.gwt-DecoratorPanel .topRight {
	background: url(images/corner.png) no-repeat -5px 0px;
	-background: url(images/corner_ie6.png) no-repeat -5px 0px;
}

.gwt-DecoratorPanel .bottomLeft {
	background: url(images/corner.png) no-repeat 0px -5px;
	-background: url(images/corner_ie6.png) no-repeat 0px -5px;
}

.gwt-DecoratorPanel .bottomRight {
	background: url(images/corner.png) no-repeat -5px -5px;
	-background: url(images/corner_ie6.png) no-repeat -5px -5px;
}

* html .gwt-DecoratorPanel .topLeftInner,* html .gwt-DecoratorPanel .topRightInner,* html .gwt-DecoratorPanel .bottomLeftInner,* html .gwt-DecoratorPanel .bottomRightInner
	{
	width: 5px;
	height: 5px;
	overflow: hidden;
}